:root{
    --header-bg: rgb(39, 39, 39);
    --input-color: rgba(17, 16, 16, 0.979);
    --placeholder-color: rgba(70, 58, 58, 0.979);
    --bg-color:rgba(14, 11, 11, 0.979)
}
*{
    margin: 0;
    padding: 0;
}

.chat-message-container{
    display: block;
    /* background-color: red;`` */
    width: 62vw;
    height: 90vh;
    margin-top: 0vh;
    margin-right: 0vw;
    margin-left: 0vw;
}
.chat-header{
    background-color: var(--header-bg);
    height: 9vh;
    box-shadow: 0px 0px 10px 2px rgb(105, 91, 91);
}
.img-user{
    height: 50px;
    width: 50px;
    border: 1px solid white;
    border-radius: 50px;
    float: left;
    margin-left: 8px;
    margin-top: 8px;
}
.user-name{
    margin-left: -8px;
    font-size: 18px;
}
.chat-body{
    height: 71vh;
}
.chat-foter-text{
    background-color: var(--header-bg);
    position: relative;
    height: 10vh;
    bottom:0;
    padding-top: 10px;
}
.box-send-content{
    width: 100%;
    display: table;
}
.input-messages{
    width: 50vw;
    height: 7vh;
    background-color: var(--input-color);
    border: 1px solid var(--bg-color);
    border-radius: 10px;
    padding-left: 20px;
    font-size: 17px;
    margin-left: 4vw;
    transition: 0.3s ease-in-out;
}::placeholder{
    color: var(--placeholder-color)
}

.send-message{
    background-color: var(--bg-color);
    border-radius: 50px;
    margin-left: 15px;
    position: relative;
    z-index: -1;
    height: 7vh;
    width: 3vw;
    transition: 0.3s ease-in-out;
    opacity: 0;
    transform: rotateY(90deg) rotate(45deg);
}
.send-message svg{
    transform: rotate(90deg);
    transition: 0.5s ease-in-out;
}.send-message:hover{
    background-color: rgba(68, 62, 62, 0.8)
}.send-message:hover .bi{
    transform: rotate(45deg) !important;
    scale: 1.2;
}
.box-send-content:has(.display-button:checked){
    .send-message{
        z-index: 0;
        opacity: 1;
        transform: rotateY(0deg) rotate(0deg);
    }
    .input-messages{
        margin-left: 0
    }
    .send-message svg{
    transform: rotate(0deg);
    }
}