:root{
    --bg-color:rgba(14, 11, 11, 0.979);
    --col-color: rgba(22, 22, 22, 0.979);
    --input-color: rgba(17, 16, 16, 0.979);
    --placeholder-color: rgba(70, 58, 58, 0.979);
    --modal-color: rgba(68, 68, 68, 0.877);
    --mod-header: rgba(26, 25, 25, 0.9);
    --notification: rgb(99, 184, 20);
    --bg-message-color: rgb(110, 108, 108);
}

.btn-close-session{
    background-color: var(--bg-color);
    border-color: 1px solid var(--placeholder-color);
    border-radius: 15px;
    position:absolute;
    width: 30px;
    height: 30px;
    z-index: 1;
    overflow: hidden;
    transition: 0.3s ease-in-out;
    word-break:keep-all;
    text-align: left;
    margin-top: 15px;
    left: 15px;
}
.btn-close-session:hover{
    width: 150px;
    background-color: rgba(43, 40, 40, 0.979);
    box-shadow: 0px 0px 6px 1px rgba(146, 120, 120, 0.979);
}
.btn-close-session svg{
    margin: 5px 5px 5px 0px;
}
.btn-close-session span{
    float: right;
    position: relative;
    margin-top: 5px;
    transition: 0.7s ease-in-out;
    opacity: 0;
}
.btn-close-session:hover span{
    opacity: 1;
    transform: translateX(-15px);
}

.chat-component{
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background-color: black;
}

.chat-container{
    width: 90%;
    height: 90%;
    display: flex;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
}

.contacts{
    width: 30%;
    height: 100%;
    background-color: var(--col-color);
    border-radius: 15px;
    overflow: hidden;
    margin-right: 10px;
}

.chat{
    width: 70%;
    height: 100%;
    background-color: var(--col-color);
    border-radius: 15px;
    margin-left: 10px;
}

.head-contacts{
    width: 100%;
    height: 6vw;
    display:flex;
}
.body-contacts{
  max-height: 88%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.missing-messages{
  display: table;
  width: 15px;
  margin-top: 2.5vh;
  padding: 1px;
  margin-left: -15px;
  height: 15px;
  border-radius:50px;
  background-color: var(--notification);
  transition: 0.2s ease-out;
  opacity: 1
}.missing-messages[data-content="0"]{
  transform: translateY(-10px);
  opacity: 0;
}
.user-img{
    object-fit: cover;
    width: 50px;
    height: 50px;
    margin: 5px;
    border: 1px solid white;
    border-radius: 50px;
}

.search-contact{
    margin-top: 5%;
    height: 30px;
    width: 65%;
    border-radius: 10px;
    padding: 3px;
    padding-left: 5px;
    margin-left: 5px;
    border: 1px solid var(--bg-color);
    background-color: var(--input-color);
}::placeholder{
    color: var(--placeholder-color);
}::-ms-input-placeholder{color: var(--placeholder-color);}
.search-contact:focus ~.icon-search{
    opacity: 0;
    z-index: -1;
}
.icon-search{
    transition: 0.3s;
    margin-top: 6%;
    margin-left: -30px;
}

.search-new-friend{
    width: 20%;
    margin-left: 5px;
    height: 5px;
    margin-top: 6%;
    transition: 0.3s;
    cursor: pointer;
}
.search-new-friend svg{
    transition: 0.3s;
}
.search-new-friend:hover svg{
    color: rgb(190, 236, 82);
    scale: 1.5;
}


.modal-container{
    position:absolute;
    overflow: hidden;
    display: table;
    margin-left: auto;
    margin-right: auto;
    left: 25vw;
    right: 25vw;
    height: 70vh;
    width: 50vw;
    opacity: 0;
    z-index: -1;
    backdrop-filter: blur(5px);
    border-radius: 15px;
    transition: 0.3s ease-in;
    transform: rotateY(90deg) ;
    box-shadow: 0px 0px 30px 3px rgba(87, 80, 104, 0.836);
    background-color: var(--modal-color);
}
.modal-header{
    width: 100%;
    display:inline-table;
    height:7vh;
    background-color: var(--mod-header);
}
.btn-close-modal{
    float: right;
    border: 1px solid white;
    padding:3px;
    height: 25px;
    margin-top: -25px;
    margin-right: 15px;
    width: 25px;
    border-radius:50px;
}
.img-modal{
    height: 30px;
    width: 30px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
.modal-body{
    height: 63vh;
    height: 98%;
    margin-left: 1%;
    margin-right: 1%;
}

.btn-search, .btn-search-all{
    background-color: var(--bg-color);
    border-color: 1px solid var(--placeholder-color);
    border-radius: 30px;
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.btn-search:hover, .btn-search-all:hover{
    background-color: rgba(102, 87, 87, 0.8);
}
.modal-list{
    max-height: 51vh;
    overflow-y: scroll;
}
.web-card-body{
    display: table;
    text-align: left;
    width: 98%;
    position: relative;
    padding: 5px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
.web-username{
    position: relative;
    display: block;
    margin-left: 10vh;
    margin-top: 10px;
}
.img-web-search{
    width: 50px;
    height: 50px;
    float: left;
    border-radius: 50px;
    object-fit: cover;
}

.btn-send-request{
    position: relative;
    float: right;
    margin-top: -20px;
    margin-right:2vw;
    border-radius: 50px;
    transition: 0.2s ease-out;
    background-color: var(--bg-color);
}
.btn-send-request:hover{
    scale: 1.05;
    background-color: var(--placeholder-color);
}
#search-modal-activator:checked ~ .modal-container{
    z-index: 10;
    opacity: 1;
    transform: translateY(10vh);
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    border-radius: 15px;

  }
/*Scroll*/
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 15px;
    background: #6b6464;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #1d1b1b;
    border-radius: 15px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #312e2e;
  }

  .img-contact-list{
    width: 50px;
    height: 50px;
    border: 1px solid white;
    object-fit: cover;
    border-radius: 50px;
  }
  .clock-request_list{
    display: none;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(5px);
    margin-left: -51px !important;
  }

  .request-container{
    width: 100%;
    text-align: left;
    margin-left: 1vw;
  }

  .notification-request{
    background: var(--notification);
    display: table;
    position: relative;
    float: right;
    margin-right: 5px;
    margin-top: 5px;
    border-radius: 50px;
    padding: 3px;
  }.notification-request svg{
    margin-right: 5px;
  }

  .element-list-contact{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    display: flex;
    padding-top: 1vh;
    padding-bottom: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;
    cursor: pointer;
    transition: 0.2s ease-in;
  }.element-list-contact:hover{
    background-color: rgb(58, 53, 53);

  }
  .element-list-username, .element-list-request{
    margin-top: 1vh;
    margin-bottom: 2vh;
    margin-left: 1vw;
    margin-right: 1vw;
  }.f-request{
    background-color: var(--modal-color)
  }.f-request:hover{
    background-color: rgba(126, 109, 109, 0.8);
  } .element-list-request:before{
    content: "!";
    text-align: center;
    padding:2px;
    z-index: 1;
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50px;
    margin-top: -20px;
    margin-left: -30px;
    background-color: var(--notification);
  }

  .btn-request-list{
    display: block;
    border-radius: 50px;
    height: 30px;
    width: 30px;
    float: right;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
  }.accept{
    background-color: rgb(10, 177, 10);
  }.reject{
    background-color: red;
  }
  .btn-container{
    display: table;
    margin-left: auto;
    margin-top: 1vh;
  }

  .last-date-contact{
    color: rgba(168, 184, 106, 0.884);
    margin-left:auto;
    text-align: right;
    font-size: 10px;
  }

  .last-message{
    color: rgb(145, 132, 132);
    text-align: left;
    position: absolute;
    margin-left: 5vw;
    max-width: 17vw;
    max-height: 5vh;
    margin-top: 5vh;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
  }
  .backgroud-icon{
    object-fit: cover;
    width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
  }.bg-message{
    color: var(--bg-message-color);
    font-size: 18px;
  }