:root{
    --header-bg: rgb(39, 39, 39);
    --input-color: rgba(17, 16, 16, 0.979);
    --placeholder-color: rgba(70, 58, 58, 0.979);
    --bg-color:rgba(14, 11, 11, 0.979);
    --color-my-message: rgba(68, 52, 68, 0.979);
    --color-contact-message: rgba(53, 46, 47, 0.979);
    --date-color: rgb(158, 156, 156);
}
*{
    margin: 0;
    padding: 0;
}

.chat-message-container{
    display: block;
    /* background-color: red;`` */
    width: 62vw;
    height: 90vh;
    margin-top: 0vh;
    margin-right: 0vw;
    margin-left: 0vw;
}
.chat-header{
    background-color: var(--header-bg);
    height: 9vh;
    box-shadow: 0px 0px 10px 2px rgb(105, 91, 91);
}
.img-user{
    height: 50px;
    width: 50px;
    border: 1px solid white;
    border-radius: 50px;
    float: left;
    margin-left: 8px;
    margin-top: 8px;
}
.user-name{
    margin-left: -8px;
    font-size: 18px;
}
.chat-body{
    height: 71vh;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.chat-foter-text{
    background-color: var(--header-bg);
    position: relative;
    height: 10vh;
    bottom:0;
    padding-top: 10px;
}
.box-send-content{
    width: 100%;
    display: table;
}
.input-messages{
    width: 50vw;
    height: 7vh;
    background-color: var(--input-color);
    border: 1px solid var(--bg-color);
    border-radius: 10px;
    padding-left: 20px;
    font-size: 17px;
    margin-left: 4vw;
    transition: 0.3s ease-in-out;
}::placeholder{
    color: var(--placeholder-color)
}

.send-message{
    background-color: var(--bg-color);
    border-radius: 50px;
    margin-left: 15px;
    position: relative;
    z-index: -1;
    height: 7vh;
    width: 3vw;
    transition: 0.3s ease-in-out;
    opacity: 0;
    transform: rotateY(90deg) rotate(45deg);
}
.send-message svg{
    transform: rotate(90deg);
    transition: 0.5s ease-in-out;
}.send-message:hover{
    background-color: rgba(68, 62, 62, 0.8)
}.send-message:hover .bi{
    transform: rotate(45deg) !important;
    scale: 1.2;
}

.message-container{
    content: "";
    margin-top: 2vw;
    margin-bottom: 2vw;
    margin-right: 5vw;
    margin-left: 5vw;
}
.message-body-me{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 5px;
    display: table;
    margin-left: auto;
    background-color:var(--color-my-message);
    text-align: left;
    border-end-end-radius: 15px;
    border-top-left-radius: 15px;
    border-end-start-radius: 15px;
}.message-body-me::before{
    content: "";
    width: 1px;
    height: 1px;
    margin-top: -15px;
    margin-right: -30px;
    border-right: 1.5rem solid rgba(255, 255, 255, 0);
    border-top: 1rem solid var(--color-my-message);
    float: right;
}
.message-body-contact{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 5px;
    display: table;
    margin-right: auto;
    background-color:var(--color-contact-message);
    text-align: left;
    border-end-end-radius: 15px;
    border-top-right-radius: 15px;
    border-end-start-radius: 15px;
}.message-body-contact::before{
    content: "";
    width: 1px;
    height: 1px;
    margin-top: -15px;
    margin-left: -30px;
    border-left: 1.5rem solid rgba(255, 255, 255, 0);
    border-top: 1rem solid var(--color-contact-message);
    float: left;
}


.message-text{
    display: block;
    max-width: 25vw;
    word-wrap: break-word;
}

.date-message {
    text-align: left;
    margin-bottom: 1vh;
    font-size: 10px;
    color: var(--date-color);
}
.box-send-content:has(.display-button:checked){
    .send-message{
        z-index: 0;
        opacity: 1;
        transform: rotateY(0deg) rotate(0deg);
    }
    .input-messages{
        margin-left: 0
    }
    .send-message svg{
    transform: rotate(0deg);
    }
}