:root{
    --back-login-color: rgba(14, 11, 11, 0.979);
    --login-card: rgba(26, 24, 24, 0.685);
    --border-title: rgb(51, 19, 124);
    --color-btn: rgb(33, 7, 48);
    --border-btn: rgb(71, 49, 83);
}

*{
    margin: 0;
    color: white;
}
.title-login{
    border-left: 10px solid var(--border-title);
    padding-left: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    margin-bottom: 2rem;
}
.cards-container{
    width:35%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}
.login-container, .register-container{
    padding-top: 2rem;
    border-radius: 5px;
    padding-bottom: 2rem;
    width:  100%;
    z-index: 1;
    position: relative;
    display: block;
    height: 26rem;
    transition: 0.5s ease-in-out;
    backdrop-filter: blur(10px);
    background-color: var(--login-card);
    box-shadow: 0px 0px 5px 2px rgba(152, 199, 113, 0.6);
}
.register-container{
    display: block;
    position: relative;
    margin-top: -31rem;
    margin-left: 1rem;
    z-index: 0;
}
.login{
    background-color: var(--back-login-color);
    position: absolute;
    width: 100%;
    height: 100%;
}
.login-form{
    margin-top: 5px;
    margin-left: auto; 
    margin-right: auto;
    display: table;
    text-align: left;
}
.form-row {
    display: block;
}
.text-box-login{
    width: 90%;
    height: 20px;
    padding: 5px;
    background-color: var(--login-card);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 3px solid white;
    border-radius: 5px;
    padding-left: 13px;
}.text-box-login:focus{
    outline: none;
    box-shadow: 0px 0px 5px 2px rgba(152, 199, 113, 0.6);
}
.login-btn{
    width: 100%;
    height: 30px;
    border-radius: 10px;
    border: 1px solid var(--border-btn);
    background-color: var(--color-btn);
}



/*button*/
.floating-btn{
    margin-top: 13%;
    margin-left: 15%;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    text-align: center;
    padding: 1rem;
    position: absolute;
    z-index: 5;
    border-radius: 50%;
    background-color: var(--border-title);
    transition: 0.3s ease-in-out;
}
.floating-btn:hover{
    background-color: rgb(82, 35, 109);
}
.floating-btn:hover svg{
    animation: chose-login 0.5s infinite ease-in-out;
}
.floating-btn svg{
    transition: 0.3s ease-in-out;
    width: 30px;
    height: 30px;
    margin-top: -3px;
}


/*On check input*/
.login:has(#input-checkbox-changelogin:checked){ 
    .floating-btn svg{
      transform: rotate(45deg) translateY(-15px) translateX(10px);
    }
    .floating-btn{
    background-color: rgb(82, 35, 109);
    }
    
    .register-container{
        animation: change-card-login 0.5s;
        z-index: 1;
    }
    .login-container{
        z-index: 0;
    }
}

.login.login:has(#input-checkbox-changelogin:not(:checked)){
    
    .register-container{
        z-index: 0;
    }
    .login-container{
        z-index: 1;
        animation: change-card-login 0.5s;
    }
}

.img-profile-pic{
    object-fit: cover;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: table;
    margin-top: -5rem;
}
.btn-chose-img{
    position: relative;
    margin-top: -30px;
    margin-left: 8rem;
    width: 3.5rem;
    border: solid 1px white;
    height: 3.5rem;
    background-color: var(--border-title);
    padding: 5px;
    text-align: center;
    border-radius: 50px;
    transition: 0.3s ease-in-out;
}.btn-chose-img:hover{
    scale: 1.1;
    background-color: rgba(157, 27, 168, 0.979);
    transform: translateY(-5px);
}



/*animations*/
@keyframes chose-login{
    0%{transform: rotate(0deg) translateY(0px) translateX(0px); }
    50%{transform: rotate(45deg) translateY(-15px) translateX(10px); }
}

@keyframes change-card-login{
    50%{
        transform: rotate(45deg) translateY(-10rem) translateX(10rem);
    }
 
}

/*Media screeen for mobile devices*/

/*Tablet*/
@media only screen and (max-width: 810px){
    .cards-container{
        width: 60vw;
    }
    .floating-btn{
        right: 15vw;
    }
}

/*Mobile*/
@media only screen and (max-width: 510px){
    .cards-container{
        width: 80vw;
    }
    .floating-btn{
        right: 5vw;
    }
}